.cell {
	border: 5px solid #828282;
	border-radius: 20px;
	transition: all 0.35s ease-out;
}

.cell_border_s {
	border-width: 3px;
	border-radius: 10px;
}

.cell_disabled {
	opacity: 0;
}

@media screen and (max-width: 380px) {
	.cell {
		border-radius: 8px;
		border-width: 3px;
	}

	.cell_border_s {
		border-width: 2px;
		border-radius: 3px;
	}
}
